!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Untitled Document
  %body{:style => "margin: 0; padding: 0;"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "500px"}
      %tr
        %td{:align => "left", :bgcolor => "#1a1a1a", :style => "padding: 40px;", :valign => "top"}
          %h5{:style => "padding-bottom:40px"}
            %font{:color => "#ffffff", :face => "Verdana, Geneva, sans-serif", :size => "+3"} Hello! #{@user.name}
          %blockquote{:style => "border-left:1px solid #ccc;padding: 1.5em 10px;padding: 0.5em 10px 0.5em 12px;"}
            %font{:color => "#ffffff", :face => "Verdana, Geneva, sans-serif", :size => "+2"}
              You are selected as Leader for Group #{@group_name}. You can now Log in to  
              %a{:href => "http://groupapp.heroku.com", :style => "text-align:center"} 
              with these credentials:
              %p
              Your username is: #{@user.email}
              %p
              Your password is: #{DEFAULT_PASSWORD}
              %p
             


