%h1 New group

%table.records
  %thead
    %tr
      %td 
        = render 'form'
      %td 
        #student_list_div{:style => "display:none;"}
        #topic_list_div{:style => "display:none;"}

= link_to 'Back', groups_path
