/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* loading fonts*/

@font-face {font-family: Apercu-Bold;src: url(../assets/Apercu-Bold.otf);}
@font-face {font-family: Apercu-Bold-Italic;src: url(../assets/Apercu-Bold-Italic.otf);}
@font-face {font-family: Apercu-Italic;src: url(../assets/Apercu-Italic.otf);}
@font-face {font-family: Apercu-Light;src: url(../assets/Apercu-Light.otf);}
@font-face {font-family: Apercu-Light-Italic;src: url(../assets/Apercu-Light-Italic.otf);}
@font-face {font-family: Apercu-Medium;src: url(../assets/Apercu-Medium.otf);}
@font-face {font-family: Apercu-Medium-Italic;src: url(../assets/Apercu-Medium-Italic.otf);}
@font-face {font-family: Apercu-Mono;src: url(../assets/Apercu-Mono.otf);}
@font-face {font-family: Apercu-Regular;src: url(../assets/Apercu-Regular.otf);}

/* paddings and margins*/

.padding-top10{padding-top:10px;}
.no-margin-bottom{ margin-bottom:0px}
.no-padding{ padding:0px}
.no-margin{ margin:0px}
.padding-top25{padding-top: 25px;}
.margin-top25{margin-top: 25px !important;}
.margin-top15{margin-top: 15px;}
.apercu-light {font-family: Apercu-Light;}
.alert-box.warning {
	background-color: #f08a24;
	border-color: #de770f;
	color: white;
}
/* buttons*/

.btn-admin{
	line-height: 1;
	border-radius: 20px;
	width: 256px;
	height: 30px;
	font-family: Apercu-Light;
	font-size: 18px;
	color: #000000;
}

.btn-selected {
    background-color: #999999;
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
}

.user_ctrl_buttons {
	margin-top: 35px;
	padding-bottom: 60px;
}
.user_ctrl_buttons ul{
	list-style: none;
	margin: 20px;
}

.user_ctrl_buttons li{
	margin-top: 20px;
}

/* flash messages*/

.alert-box.success {
	background-color: #43ac6a;
	border-color: #3a945b;
	color: white;
}

.alert-box.radius {
	border-radius: 3px;
}

.alert-box {
	border-style: solid;
	border-width: 1px;
	display: block;
	font-weight: normal;
	position: relative;
	padding: 0.875rem 1.5rem 0.875rem 0.875rem;
	font-size: 14px;
	transition: opacity 300ms ease-out;
	background-color: #008cba;
	border-color: #0078a0;
	color: white;
   	 width: 100%;
	 position: absolute;
  	z-index: 999;
}

/*---*/
/* login section */

.login_sec {
    margin-top: 6%;
    max-width: 710px;
}

.login_heading {
    font-family: Apercu-Light;
    font-size: 22px;
    font-weight: normal;
    padding: 10px;
    margin: -1px;
    background: black;
    color: #ffffff;
    height: 60px;
}

.login_label {
    font-family: Apercu-Regular;
    font-size: 20px;
    font-weight: normal;
}

.login_input {
    font-family: Apercu-Regular;
    font-size: 15px;
    border-radius: 0px;
    height: 45px;
    font-weight: normal;
}

.btn_login {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 0px;
    border: black;
    text-shadow: none;
}

.btn_login:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 0px;
    border: black;
    text-shadow: none;
}

.login_forget a {
    font-family: Apercu-Regular;
    font-size: 18px;
    color: #000000;
    margin-right: 20px;
    font-weight: normal;
}

.login_forget a:hover {
    text-decoration: none;
}


.login_reset_label {
    font-family: Apercu-Regular;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-top: -8px;
}

.reset_pas_desc {
    font-family: Apercu-Light;
    font-size: 15px;
    margin-bottom: 39px;
}

.login_sec_box {
    box-shadow: 0 0 10px 0 #000;
}
/************************* End login sections       *******************/
.first_col {
	background-color: #1A1A1A;
	height:100vh;
}
.user_info {
	float:right;
}
.yield_div{
       padding-left: 340px;
       padding-top: 71px;
}

.proj_title {
       padding: 44px;
       text-align: center;
       color: #FFF;
}

table.records td
{
     padding-right:10px;
}

.li_g 
{
float:left;
}

